./package-lock.json

/node_modules
.env
./node_modules


.vscode
.trunk
models/playground-3.mongodb.js
models/playground-learning.mongodb.js
frontend/src/.env
config/serviceAccountKey.json
frontend/src/config/firebase-config.js
newfileTry
frontend/node_modules