./package-lock.json
./package.json
.package.json
/package.json
/node_modules
.env
./node_modules
package.json

.vscode
.trunk
models/playground-3.mongodb.js
models/playground-learning.mongodb.js
frontend/src/.env
config/serviceAccountKey.json
frontend/src/config/firebase-config.js