.cart-item-container {
  width: 400px;
  padding-top: 40px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10%;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  background-color: white;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-direction: row;

  align-items: space-around;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.cart-item-image-container {
  display:-moz-grid-group;
  justify-content: flex-start;

  height: 170px;
  width: 200px;
}
.cart-image {
  max-width: 100%;
  max-height: 100%;
}
.cart-item-price {
font-weight: bolder;
}
.cart-item-name {
  margin-left: 30px;
}
.cart-item-quantity {
  font-size: 18px;
  font-weight: bold;
}
.remove-btn-container{
display:flex;
flex-direction: column;
}
.cart-item-total-price {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
