.sidebar {
  padding-top: 5px;
  z-index: 200;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0px;
  background-color: #f1f1f1;
  word-wrap: nowrap;
  width: 8%;
}
.sidebar-links {
  word-wrap: nowrap;
  /* background-color: white; */
  font-family: Roboto, Ariel;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*  Apply hover  */
.sidebar-link:hover {
  background-color: rgb(184, 184, 184);
  cursor: pointer;
  color: green;
  border-color: aquamarine;
  /* border: */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/*Target all images  in sidebar-link class   */
.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}
