.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  background-color: rgb(208, 251, 245);

  padding: 0;
  margin: 0;
  /* align-items: center; */
  list-style-type: none;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 100;
}
.nav-links-other-url > li {
  margin-left: 10px;
}
.nav-links-other-url {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: end;

  justify-content: flex-end;
  margin-left: 20px;
}

.nav-links a {
   font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: 900;

  /* border-width: 2px; */
  /* border-color: rgb(62, 142, 156); */
  /* border-style: solid; */

  text-decoration: none;
  /* background-color: rgb(208, 251, 245); */
  border-color: #00deaf;
  color: white;

  padding-right: 15px;

  border-radius: 50px;
  /* text-align: right; */
  padding-left: 20px;
  color: rgb(44, 42, 42);
  font-size: 1.2rem;

  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.nav-link-user {
  display: flex;

  align-items: center;
  justify-content: center;

  align-items: start;

  justify-content: start;
  margin-right: 80px;
}
.user-ul-container {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  list-style-type: none;
}
.user-ul-container > li {
  margin-left: 15px;
}
.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-self: end;
  margin-top: 20px;
}

.nav-links a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
}
.nav-links a:hover,
.nav-links a:focus {
  /* //color: #00675a;   */
  background-color: #25796e;
  /* text-decoration: solid; */
  text-decoration: wavy;
  text-decoration: underline rgb(221, 221, 221);

  color: white;
  /* color: d1fff5; */
  box-shadow: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
